# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco
instance/
*.db
*.sqlite3

# Ambiente virtual
.venv/
venv/
env/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Logs
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db